@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    background: white;
    background-color: white;
}

.GameBoard {
    display: inline-flex;
    background-color: #f7f7f7;
}

.GamePiece {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
}

.board {
    margin: 5px 35px;
    padding: 5px;
}

.gameover-modal {
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 35%;
    width: 30%;
    height: 30%;
    text-align: center;
    background-color: #ebeef5;
    border-radius: 5px;

    h4 {
        padding-top: 10px;
    }
}

.select-modal {
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 25%;
    width: 50%;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding-bottom: 5em;

    button {
        margin: 1em;
        padding: .5em;
        border: 1px solid rgba(43, 43, 182, 0);
        border-radius: 5px;
        background-color: rgba(43, 43, 182, 1);
        color: white;

        &:hover {
            border: 1px solid rgba(43, 43, 182, 1);
            background-color: rgba(43, 43, 182, 0);
            color: rgba(43, 43, 182, 1);
            cursor: pointer;
        }
    }
}

.select-board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

    h4 {
        margin-bottom: 15px;
    }

    ul {
        text-align: left;
        list-style: none;

        li {
            cursor: pointer;
        }
    }
}

.mini {
    height: 20px;
    width: 20px;
}

.selected {
    color: blue;
}

.locked {
    color: red
}