@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

@mixin button {

    margin: 1em;
    padding: .5em;
    border: 1px solid rgba(43, 43, 182, 0);
    border-radius: 5px;
    background-color: rgba(107, 181, 250, 1);
    color: white;

    &:disabled {
        background-color: rgba(107, 181, 250, 0.3);
    }

    &:hover:enabled {
        border: 1px solid #6bb5fa;
        background-color: rgba(43, 43, 182, 0);
        color: #6bb5fa;
        cursor: pointer;
    }

}



body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    background: white;
    background-color: white;
}

.GameBoard {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}

.GamePiece {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
}

.board {
    margin: 5px 35px;
    padding: 5px;
}

.PlayerStats {
    padding: 2em;
}

.gameover-modal {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 30%;
    left: 35%;
    width: 30%;
    height: auto;
    padding: 2em;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 10px;

    .loser {
        color: red;
    }

    .winner {
        color: #4bb367;
    }

    button {
        @include button
    }

    h4 {
        padding-top: 10px;

    }
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
}

.select-modal {
    margin: auto;
    width: 90%;
    max-width: 40rem;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding: 50px;

    button {
        @include button
    }
}



.select-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h4 {
        margin-bottom: 15px;
    }


    .ship-list {
        width: 50%;
    }

    .ship-place {
        width: 50%;
        text-align: center;
        background-color: #f7f7f7;
        padding-bottom: 1em;
    }

    ul {
        text-align: left;
        list-style: none;
        padding: 0;

        li {
            cursor: pointer;

        }
    }
}

.select-buttons {
    text-align: center;
}

.mini {
    height: 20px;
    width: 20px;
}

.unselected {
    color: rgba(84, 84, 84, 0.5);
}

.selected {
    color: black;
}

.locked {
    color: rgb(6, 103, 194);
}

.error-popup {
    position: absolute;
    top: 0;
    width: 30%;
    border-radius: 10px;
    border: 2px solid #ffeeba;
    color: #856404;
    background-color: #fff3cd;
    z-index: 1001;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.show {
    opacity: 1;
    top: 30%;
}

@media screen and (max-width: 700px) {

    .gameover-modal {
        top: 30%;
        left: 20%;
        width: 60%;
        height: auto;
    }

    .error-popup {
        width: 65%
    }
}

@media screen and (max-width: 600px) {
    .select-board {
        flex-direction: column;

        .ship-list,
        .ship-place {
            width: 100%;
        }


    }

    .select-modal {
        border-radius: 0;

        h2 {
            font-size: 20px;
            margin: 0;
        }
    }

    .GamePiece {
        width: 20px;
        height: 20px;
    }

    .gameover-modal {
        h2 {
            font-size: 18px;
        }
    }

}

nav {
    background-color: #5047d6;
    color: #e9e9f0;
    display: flex;
    justify-content: space-between;
    padding: .5rem 10%;
    height: 5vh;
    margin-bottom: 1em;

    align-items: center;

    .navbar-link {
        margin-right: 1rem;
        text-decoration: none;
        color: #e9e9f0;
        padding: .5rem 1rem;
        border-radius: .25rem;

        &:hover {
            background-color: rgba(217, 217, 219, 0.5);
        }
    }

    .logout-form {
        display: inline;

        .logout-btn {
            background-color: rgba(217, 217, 219, 0);
            color: #e9e9f0;
            border: none;
            padding: .5rem 1rem;
            border-radius: .25rem;
            font-size: 1em;

            &:hover {
                cursor: pointer;
                background-color: rgba(217, 217, 219, 0.5);
            }
        }
    }

    .active {
        background-color: rgba(217, 217, 219, 0.5);
    }
}